---
http_interactions:
- request:
    method: post
    uri: https://oauth-api.beatport.com/identity/1/oauth/request-token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_callback="oob", oauth_consumer_key="fake",
        oauth_nonce="xXaYhCOschUQBzfxOGSkP2Iaz6ylUWsSpqFY6aSQ", oauth_signature="ECiiB2zTUHnD6OFTHV9ScLlhAxU%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1504025698", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: login_url=https%3A%2F%2Foauth-api.beatport.com%2Fidentity%2F1%2Foauth%2Fauthorize%3Foauth_token%3D42eb791ffd257ca14d6156c665d0abc002fd2033&oauth_token=42eb791ffd257ca14d6156c665d0abc002fd2033&oauth_token_secret=b782a75e92a39eb19620a5d780f4be217c4125a3&oauth_callback_confirmed=true
  recorded_at: Tue, 29 Aug 2017 16:55:00 GMT
- request:
    method: post
    uri: https://oauth-api.beatport.com/identity/1/oauth/authorize-submit
    body:
      encoding: UTF-8
      string: oauth_token=42eb791ffd257ca14d6156c665d0abc002fd2033&username=fake&password=fake&submit=Login
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: oauth_token=42eb791ffd257ca14d6156c665d0abc002fd2033&oauth_verifier=20125400f777698f1af26cb14f33d07a&oauth_callback_confirmed=true
  recorded_at: Tue, 29 Aug 2017 16:55:01 GMT
- request:
    method: post
    uri: https://oauth-api.beatport.com/identity/1/oauth/access-token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fake", oauth_nonce="9QcHvxBOnqKgWEsFmCDzQKvCJa0eILo6yfFvjDhJ3M",
        oauth_signature="3d2Wp5DjxhKGuaRi3huxpLqWPUE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1504025701", oauth_token="42eb791ffd257ca14d6156c665d0abc002fd2033",
        oauth_verifier="20125400f777698f1af26cb14f33d07a", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: oauth_token=fake&oauth_token_secret=fake123&session_id=20125400f777698f1af26cb14f33d07a&oauth_callback_confirmed=true
  recorded_at: Tue, 29 Aug 2017 16:55:02 GMT
- request:
    method: get
    uri: https://oauth-api.beatport.com/catalog/3/tracks?sortBy=releaseDate%20ASC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fake", oauth_nonce="GqneK0Z3e1D1cnUWtFky3wyrd0KUDvxuZsQ21S5Y4",
        oauth_signature="ZjibkOXCSqIBUugdfzXKyFmVFXg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1504025703", oauth_token="fake",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"host":"oauth-api.beatport.com","path":"\/catalog\/tracks","query":"sortBy=releaseDate+ASC","page":1,"perPage":10,"count":6835152,"totalPages":683516,"nextQuery":"sortBy=releaseDate+ASC&page=2","perPageOptions":[{"value":50,"applyQuery":"sortBy=releaseDate+ASC&perPage=50"},{"value":100,"applyQuery":"sortBy=releaseDate+ASC&perPage=100"},{"value":150,"applyQuery":"sortBy=releaseDate+ASC&perPage=150"}],"facets":{"fields":[]},"appliedFacets":[],"dateFilters":[{"name":"today","startDate":"2017-08-29","endDate":"2017-08-29","applyQuery":"sortBy=releaseDate+ASC&publishDateStart=2017-08-29&publishDateEnd=2017-08-29","applied":false},{"name":"yesterday","startDate":"2017-08-28","endDate":"2017-08-29","applyQuery":"sortBy=releaseDate+ASC&publishDateStart=2017-08-28&publishDateEnd=2017-08-29","applied":false},{"name":"weekToDate","startDate":"2017-08-22","endDate":"2017-08-29","applyQuery":"sortBy=releaseDate+ASC&publishDateStart=2017-08-22&publishDateEnd=2017-08-29","applied":false},{"name":"monthToDate","startDate":"2017-07-29","endDate":"2017-08-29","applyQuery":"sortBy=releaseDate+ASC&publishDateStart=2017-07-29&publishDateEnd=2017-08-29","applied":false},{"name":"yearToDate","startDate":"2016-08-29","endDate":"2017-08-29","applyQuery":"sortBy=releaseDate+ASC&publishDateStart=2016-08-29&publishDateEnd=2017-08-29","applied":false},{"custom":true,"name":"customRange","applied":false,"applyQuery":"sortBy=releaseDate+ASC"}],"rangeFilters":{"bpm":{"custom":true,"rangeName":"bpm","applied":false,"applyQuery":"sortBy=releaseDate+ASC"}},"spellcheck":null},"results":[{"id":9369755,"selected":false,"type":"track","sku":"track-9369755","name":"Cognitive
        Disonance","trackNumber":1,"active":true,"mixName":"Original Mix","title":"Cognitive
        Disonance (Original Mix)","slug":"cognitive-disonance-original-mix","isrc":"QMRZS1700314","releaseDate":"1900-04-23","publishDate":"1900-04-23","preOrderDate":null,"sampleUrl":"http:\/\/geo-samples.beatport.com\/lofi\/9369755.LOFI.mp3","sampleSecureUrl":"https:\/\/geo-samples.beatport.com\/lofi\/9369755.LOFI.mp3","isPreviewAvailable":true,"isAvailableForMix":true,"rtmpStreamUrl":"null","exclusive":false,"isPreOrder":false,"isTraktorRemixSet":false,"guest_pick":false,"sponsored":false,"isPromotable":false,"preview":{"mp3":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/9369755.LOFI.mp3","https":"https:\/\/geo-samples.beatport.com\/lofi\/9369755.LOFI.mp3","rtmp":"null","offset":{"start":180112,"end":300112}},"mp4":{"http":"http:\/\/geo-samples.beatport.com\/lofi\/9369755.LOFI.mp4","https":"https:\/\/geo-samples.beatport.com\/lofi\/9369755.LOFI.mp4","rtmp":"null","offset":{"start":180112,"end":300112}}},"price":{"code":"usd","symbol":"$","value":149,"display":"$1.49"},"audioFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"losslessUpgradeFormatFee":{"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"preOrderFormatFees":{"aiff":{"code":"usd","symbol":"$","value":75,"display":"$0.75"},"wav":{"code":"usd","symbol":"$","value":75,"display":"$0.75"}},"purchasable":true,"currentStatus":"General
        Content","length":"7:30","lengthMs":450281,"bpm":112,"key":{"standard":{"letter":"A","sharp":false,"flat":false,"chord":"minor"},"shortName":"Amin"},"saleType":"purchase","artists":[{"id":567553,"name":"Acrobotik","slug":"acrobotik","type":"artist"}],"genres":[{"id":6,"name":"Techno","slug":"techno","type":"genre"}],"subGenres":[],"charts":[],"release":{"id":2033667,"name":"ACRO-COG-DIS-THEO","type":"release","slug":"acro-cog-dis-theo"},"label":{"id":45504,"name":"Enigmatic
        Output","type":"label","slug":"enigmatic-output","status":true},"images":{"small":{"id":491534,"width":30,"height":30,"url":"https:\/\/geo-media.beatport.com\/image\/491534.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/491534.jpg"},"medium":{"id":10627975,"width":60,"height":60,"url":"https:\/\/geo-media.beatport.com\/image\/10627975.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/10627975.jpg"},"large":{"id":16071992,"width":500,"height":500,"url":"https:\/\/geo-media.beatport.com\/image\/16071992.jpg","secureUrl":"https:\/\/media.beatport.com\/image\/16071992.jpg"},"waveform":{"id":16072224,"width":1500,"height":250,"url":"https:\/\/geo-media.beatport.com\/image\/16072224.png","secureUrl":"https:\/\/media.beatport.com\/image\/16072224.png"}},"dynamicImages":{"main":{"id":16071992,"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/16071992.jpg"},"waveform":{"id":16072224,"url":"\/\/geo-media.beatport.com\/image_size{hq}\/{w}x{h}\/16072224.png"}}},{"id":9369756,"selected":false,"type":"track","sku":"track-9369756","name":"Distance
        Girdle","trackNumber":2,"active":true,"mixName":"Original Mix","title":"Distance
        Girdle (Original Mix)","slug":"distance-girdle-original-mix","isrc":"QMRZS1700203","releaseDate":"1900-04-23","publishDate":"[...]
